@import './../../style/fonts';

.container__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__main-cards {
    display: flex;
}

.button__main {
    border: none;
    background-color: $white-color;
    width: 100px;
    cursor: pointer;
}