@import "./../../style/fonts";

.container__heading {
  padding-top: 20px;
  padding-bottom: 20px;
}

.heading {
  @extend %header-wordlist-font;
  text-align: center;
  margin: 0px;
  width: 100%;
}
