@import './../../style/fonts';


.header {
    display: flex;
    justify-content: center;
}
.container__header {
    position: fixed;
    width: 80%;
    max-width: 1000px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px 20px 50px;
    border-bottom: solid 1px $gray-color;
    background-color: $white-color;
}

.logo__heart {
    align-self: flex-end;
}

.logo__text {
    margin: 0px 5px 5px 0px;
    @extend %logo-font;
    background-image: url(../../assets/pink-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    display: flex;
    justify-self: flex-start;
    margin: 15px 0px 0px 20px;
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 15px;
    padding-right: 25px;
}

.nav-item {
    @extend %text-font;
    text-decoration: none;
}

.nav-item:hover {
    color: $bright-pink-color;
}
