@import './vars';

%logo-font {
    font-family: Bangers, sans-serif;
    color: $red-color;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

%text-font {
    font-family: Montserrat, sans-serif;
    color: $black-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}