@import './vars';

%logo-font {
    font-family: Bangers, sans-serif;
    color: $red-color;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

%text-font {
    font-family: Montserrat, sans-serif;
    color: $black-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

%main-words-font {
    font-family: Bangers, sans-serif;
    color: $red-color;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

%transcription-font {
    font-family: Montserrat, sans-serif;
    color: $black-color;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

%tags-font {
    font-family: Montserrat, sans-serif;
    color: $black-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

%flip-font {
    font-family: Montserrat, sans-serif;
    color: $black-color;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

%button-font {
    font-family: Bangers, sans-serif;
    color: $white-color;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

%header-wordlist-font {
    font-family: Bangers, sans-serif;
    color: $bright-pink-color;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

%table-font {
    font-family: Montserrat, sans-serif;
    color: $black-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

%table-font-inputs {
    font-family: Montserrat, sans-serif;
    color: $black-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

%table-font-button {
    font-family: Montserrat, sans-serif;
    color: $black-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

%table-font-del {
    font-family: Montserrat, sans-serif;
    color: $white-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}