@import './../../style/fonts';

.words-container__table{
   display: flex;
    border-bottom: solid $gray-color 1px;
}

.cell__table {
    width: 150px;
padding: 0px;
margin: 0px;
}

.change-button__table,
.save-button__table {
    width: 70px;
    cursor: pointer;
}